* {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
}

.main_container {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 3px black;
    max-width: 20rem;
    margin: auto;
    padding: 1rem 1.5rem;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

.task_form,
.filter_section {
    width: 100%;
}

#task,
#filter {
    width: 100%;
    border: none;
    box-shadow: 0px 1px 0px rgba(56, 56, 56, 0.493);
    outline: none;
}

#task {
    margin-bottom: 1rem;
}

.clear_btn {
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 0.4rem 0.8rem;
    display: block;
    width: fit-content;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

.add_btn {
    background-color: rgb(16 180 197);
    border: none;
    padding: 0.4rem 0.8rem;
    color: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}

.task_list {
    padding: 0;
}

.task_list-item {
    border: 1px solid rgb(250, 212, 142);
    list-style: none;
    margin-bottom: 2px;
    padding: 0.3rem;
    font-weight: 600;
}

.delete_btn {
    float: right;
    cursor: pointer;
}

